:root {
    font-size: 40px;
}

body {
    background-color: black;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;

    text-align: center;

    padding: calc(100vw / 10);
}

h1,
h2 {
    width: 100%;
}