body {
    width: 100vw !important;
    height: 100vh !important;

    background-image: url("/res/endless/background-white.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

button {
    width: 160px;
    height: 60px;
    background-color: black;
    color: white;
    text-align: center;
}